<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='site/css/style.css' />
  </head>
  <body>
    <h1> {{caption}} </h1>
    <img src="site/images/skimountain.jpeg" alt = "Ski mountain">
  </body>
</html>